.heading-with-image {
    text-align: left;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; /* Add some margin at the bottom */
}

.heading-with-image h2 {
    margin-left: 20px;
}

.heading-with-image ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.heading-with-image li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.heading-with-image img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.heading-with-image h3 {
    margin: 0;
    margin-right: 20px; /* Add right margin to separate h3 from text */
    margin-bottom: 5px; /* Reduce vertical space between h3 and text */
}

.heading-with-image h3 a {
    text-decoration: none;
    color: inherit;
}

.heading-with-image p {
    margin: 0;
    line-height: 40px; /* Adjust line height to match the image height */
}

.heading-with-image p span {
    margin-left: 20px; /* Add left margin to separate text from h3 */
}
