/* Target only the images within the "Work Experience" section */
.heading-with-image ul li.work-experience-image img {
    width: 80px; /* Adjust image width to 40px */
    height: 80px; /* Adjust image height to 40px */
    margin-right: 10px;
}

.heading-with-image {
    text-align: left;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.heading-with-image h2 {
    margin-left: 20px;
}

.heading-with-image > div > h3 {
    margin-left: 20px;
}

.heading-with-image ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.heading-with-image ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}

.heading-with-image ul li img {
    width: 15px; /* Adjust image width as needed */
    height: 15px; /* Adjust image height as needed */
    margin-right: 10px;
}

.heading-with-image ul li:before {
    content: "•";
    margin-right: 5px;
}

.heading-with-image p {
    margin: 0;
    line-height: 20px;
}

.heading-with-image p span {
    margin-left: 20px;
}


